[submodule "libs/parsedown"]
	path = libs/parsedown
	url = git://github.com/erusev/parsedown.git
[submodule "libs/gfm-css"]
	path = libs/gfm-css
	url = git://github.com/sindresorhus/github-markdown-css.git
[submodule "libs/highlight-js"]
	path = libs/highlight-js
	url = git@github.com:isagalaev/highlight.js.git
[submodule "libs/jquery"]
	path = libs/jquery
	url = git@github.com:jquery/jquery.git
[submodule "libs/bootstrap"]
	path = libs/bootstrap
	url = git@github.com:twbs/bootstrap.git
