[submodule "parsedown-handler/parsedown"]
	path = parsedown-handler/parsedown
	url = git://github.com/erusev/parsedown.git
[submodule "parsedown-handler/gfm-css"]
	path = parsedown-handler/gfm-css
	url = git://github.com/sindresorhus/github-markdown-css.git
